
<fieldset>
    <legend>W2</legend>
<!--     <ul>
        <li><label>numberValue:<input ng-model="numberValue" /></li>
        <li><label>stringValue:<input ng-model="stringValue" /></li>
        <li><label>objectValue.message:<input ng-model="objectValue.message" /></li>
    </ul> -->
    <ul>
        <li><label>numberValue: {{numberValue}}</li>
        <li><label>stringValue: {{stringValue}} </li>
        <li><label>objectValue.message: {{objectValue.message}}</li>
    </ul>
    <button ng-click="changeValue()">Change Value</button>
    <button onclick="changeValueNativeW2()">W2</button>
</fieldset>